.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: fadeIn 0.75s linear;
    &:hover{
        box-shadow: -2px 2px 4px rgb(0 0 0 / 15%);
    }
}

.disable{
    pointer-events: none;
    user-select: none;
    cursor: default;
}

.large{
    width: 46px;
    height: 46px;

    & > img{
        width: 20px;
        color: varr(--black-color);
    }
}

.small{
    width: 28px;
    height: 28px;
    & > img{
        width: 10px;
    }
}

.primary{
    background-color: var(--yelow-color);
}

.outline{
    background-color: #eee;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}