.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    position: relative;
}

.background{
    animation: wave 10s linear infinite alternate;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--yelow-color);
}

@keyframes wave{
    from{
        transform: skewY(-8deg) translateY(70%);
    }
    to{
        transform: skewY(-8deg) translateY(50%);
    }
}

@media (max-width: 576px){
    .wrapper{
        flex-direction: column;
        height: auto;
        overflow-y: scroll;
    }
}